.first-section {
	position: relative;
	height:100%;
    background-image: url(http://divyanshdixit.github.io/divyansh-panda/bg-image.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.first-section:before{
	position:absolute;
	content:'';
	top:0;
	bottom: 0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background:linear-gradient(to top, #ffbadf, #f888f7 17%, #ca5cff 42%, #6f23e7 78%, #3a00c7);
}
